<!DOCTYPE html>
<html>
  <head>
    <title>Lab1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
    <% if user_devise_signed_in? %>
  <!-- This partial will only be displayed if the user is signed in -->
        <%= render 'layouts/navbar_after_log_in'%>
    <% else %>
  <!-- This partial will only be displayed if the user is not signed in -->
      <%= render 'layouts/navbar_before_log_in'%>
<% end %>

 
    <%= yield %>

  </body>
</html>
